.navbar {
  background-color: red;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
}

.logo {
  /* border-style: dotted; */
  /* margin-right: 59%; */
  margin-top: 5px;
  margin-left: 5px;
}

.navbar_home {
  font-family: "Architects Daughter", cursive;
  font-weight: bolder;
  text-align: center;
  text-shadow: 1px 1px black;
  /* border-style: solid; */
  /* order: 3; */
  /* align-self: flex-end; */
}
.navbar_wall {
  font-family: "Architects Daughter", cursive;
  font-weight: bolder;
  text-shadow: 1px 1px black;
  /* border-style: solid; */
  /* align-self: flex-end; */
}
.name {
  text-align: center;
  font-family: "Alpha Sausage", cursive;
  color: gold;
  padding-top: 20px;
  /* border-style: double; */
  /* text-shadow: 2px 2px red; */
  /* align-self: flex-end; */
  vertical-align: middle;
  text-shadow: 1px 1px black;
}
.logout {
  font-family: "Architects Daughter", cursive;
  font-weight: bolder;
  text-shadow: 1px 1px black;
}

a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
